{{ kint(content) }}
{{ kint(node) }}
{% set hierarquia = content['field_hierarquia'][0]['#title'] %}

<main class="main">

    <!-- internas top header init -->
    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="title-page">quem somos <span class="sub-title">sobre</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- internas top header init -->
    <!-- internas container init -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                {% if hierarquia == 'Quem Somos' %}
                <div class="row quem-somos-content">
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        <!-- quem somos menu init -->
                        <!-- inserir  class="active" na <li> deixa ela marcada de azul. -->
                        <!-- inserir  class="drop-down" na <li> deixa o texto com a seta para baixo. -->
                        <!-- inserir  class="drop-down active" na <li> deixa o drop down aberto -->
                        <!-- inserir  class="active" na <li> da ul drop-down deixa ela marcada de preto. -->
                        <div class="quem-somos-menu">
                            {{ drupal_menu('menu-lateral') }}
                        </div>
                        <!-- quem somos menu end -->
                    </div>
                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <div class="quem-somos-conteudo">
                            {{  drupal_field('field_page_descricao','node') }}
                        </div>
                    </div>
                    <!-- quem somos main content end -->
                    <div class="row quem-somos-perfis-content">
                        {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                    </div>
                </div>
                {% elseif hierarquia == 'Publicações' %}
                <!-- adaptar para publicações -->
                <div class="row quem-somos-content">
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        <div class="quem-somos-menu">
                            {{ drupal_menu('menu-lateral-publicacoes') }}
                        </div>
                        <!-- quem somos menu end -->
                    </div>
                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <div class="quem-somos-conteudo">
                            {{  drupal_field('field_page_descricao','node') }}
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
        </div>
    </section>

</main>