{% set hierarquia      = content['field_hierarquia'][0]['#title'] %}
{% set pesquisador_id  = node.get('field_pesquisadores').getValue()[0]['target_id'] %}
{% set menu_lateral_id = node.get('field_publicacoes').getValue()[0]['target_id'] %}
{% set id = node.id() %}

{% macro menuMacro(menu, level) -%}
    {# Set our default level as an integer. #}
    {% set default_level = 1 %}

    <ul class=”menu-level--{{ level|default(default_level) }}”>
        {% for menu_item in menu %}
            {# Check if this is the active item. #}
            {% set active = (menu_item.active) ? ' is-active' : '' %}

            {# Check if this item is in the active trail. #}
            {% set active = active ~ ((menu_item.active_trail) ? ' is-active-trail' : '') %}

            <li class=”menu__item{{ active }}”>
                <a href="{{ menu_item.url }}"  class=”menu__link{{ active }}”>{{ menu_item.text }}</a>
                {% if menu_item.submenu %}
                    {# Since this menu item has a submenu, recall function and increment counter. #}
                    {{ _self.menuMacro(menu_item.submenu, level|default(default_level) + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

<main class="main">
    <!-- internas top header init -->
    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/node/{{ id }}"><h1 class="title-page">{{ hierarquia }}</a><span class="sub-title">{{ label }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- internas container init -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row quem-somos-content">

                {% if hierarquia == 'Quem somos' %}
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        {# Get menu items #}
                        {% set items = simplify_menu('menu-lateral') %}
                        {# Iterate menu tree #}
                        <div class="quem-somos-menu">
                            <ul>

                            {% for menu_item in items.menu_tree %}
                                {% if menu_item.submenu %}
                                    <li class="drop-down"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                {% else %}
                                    <li><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                {% endif %}
                                {% if menu_item.submenu %}
                                    {% set subMenuAttribute = "drop-down" %}
                                    <ul>
                                        {% for itemSub in menu_item.submenu %}
                                            <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        <div class="quem-somos-conteudo">
                            {{  drupal_field('field_page_descricao','node') }}
                        </div>

                        <!-- quem somos main content end -->
                        <div class="row quem-somos-perfis-content">
                            {{ drupal_view('colaborador','bloco_colaborador_quem_somos',pesquisador_id) }}
                        </div>
                    </div>

                {% elseif hierarquia == 'Publicações' %}
                <!-- adaptar para publicações -->
                    <!-- quem somos main content init -->
                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        {% set items = simplify_menu('menu-lateral-publicacoes') %}
                        {# Iterate menu tree #}
                        <div class="quem-somos-menu">
                            <ul>

                                {% for menu_item in items.menu_tree %}
                                    {% if menu_item.submenu %}
                                        <li class="drop-down"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% else %}
                                        <li><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% endif %}
                                    {% if menu_item.submenu %}
                                        {% set subMenuAttribute = "drop-down" %}
                                        <ul>
                                            {% for itemSub in menu_item.submenu %}
                                                <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- quem somos menu end -->
                    <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                        {#Artigo = 29, Livro = 30, Capitulo de livro = 31, Teses e dissertações = 32, Working papers = 33, Estudo de transfêrencia = 35, Boletim nota 100 = 36, Urban data = 37#}
                        {% if menu_lateral_id == 29 %}
                            <div class="publicacoes-livro-grid">
                                <div class="header-search publicoes-search">
                                    <form>
                                        <div>
                                            <input type="text" placeholder="pesquisar no site" class="search-field" name="artigo_buscar">
                                            <select class="search-select">
                                                <option>autor</option>
                                                <option>título</option>
                                            </select>
                                            <input type="submit" value="buscar" class="search-button">
                                        </div>
                                    </form>
                                </div>
                                <div class="quem-somos-conteudo">
                                    {{  drupal_field('field_page_descricao','node') }}
                                </div>
                                <div class="publicacoes-artigos-grid-container">
                                    <!-- <div class="row"> -->
                                    <div>
                                        {{ drupal_view('categoria_artigo','bloco_categoria_artigo') }}
                                    </div>
                                </div>
                            </div>
                        {% elseif menu_lateral_id == 30 %}
                            <div class="header-search publicoes-search">
                                <form method="get" action="http://innovaretech.com.br/pt-br/livro/buscar">
                                    <div>
                                        <input type="text" placeholder="pesquisar no site" class="search-field" name="livro_buscar">
                                        <select class="search-select">
                                            <option>autor</option>
                                            <option>título</option>
                                        </select>
                                        <input type="submit" value="buscar" class="search-button">
                                    </div>
                                </form>
                            </div>

                                {{  drupal_field('field_page_descricao','node') }}

                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('livro','bloco_listagem_livro') }}
                            </div>
                        {% elseif menu_lateral_id == 31 %}
                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                            </div>
                        {% elseif menu_lateral_id == 32 %}
                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                            </div>
                        {% elseif menu_lateral_id == 33 %}
                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                            </div>
                        {% elseif menu_lateral_id == 35 %}
                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                            </div>
                        {% elseif menu_lateral_id == 36 %}
                            <div class="row quem-somos-perfis-content">
                                {{ drupal_view('colaborador','bloco_colaborador_quem_somos') }}
                            </div>
                        {% elseif menu_lateral_id == 37 %}
                            <div class="row quem-somos-perfis-content">
                            </div>
                        {% endif %}
                    </div>

                {% elseif hierarquia == 'Downloads de dados' %}

                    <div class="col-md-4 col-xs-12 que-somos-menu-col">
                        {% set items = simplify_menu('menu-lateral-download-dados') %}
                        {# Iterate menu tree #}
                        <div class="quem-somos-menu">
                            <ul>

                                {% for menu_item in items.menu_tree %}
                                    {% if menu_item.submenu %}
                                        <li class="drop-down"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% else %}
                                        <li><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                    {% endif %}
                                    {% if menu_item.submenu %}
                                        {% set subMenuAttribute = "drop-down" %}
                                        <ul>
                                            {% for itemSub in menu_item.submenu %}
                                                <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                {% elseif hierarquia == 'Difusão Científica' %}
                <!-- agenda slider container init -->
                <div class="agenda-slider-wrapper">
                    <h1 class="inner wrapper">
                        <!-- agenda slider title init -->
                        <h1 class="title-page icon icon-agenda">
                            <span>agenda</span>
                            <div class="box-legenda">
                                <ul>
                                    <li class="cursos"><a href="#"><span>cursos</span></a></li>
                                    <li class="palestras"><a href="#"><span>palestras</span></a></li>
                                    <li class="eventos"><a href="#"><span>eventos</span></a></li>
                                    <li class="datas comemorativas/feriados"><a href="#"><span>datas comemorativas/feriados</span></a></li>
                                    <li class="plus"><a href="#" class="link-more">mais eventos</a></li>
                                </ul>
                            </div>

                        </h1>
                            <div class="agenda-slider">
                                <div class="inner">
                                    {{ drupal_view('evento','agenda_difusao_cientifica') }}
                                </div>
                            </div>
                    </div>
                                <!-- quem somos main content init -->
                                <div class="col-md-4 col-xs-12 que-somos-menu-col">
                                    <!-- quem somos menu init -->
                                    <!-- inserir  class="active" na <li> deixa ela marcada de azul. -->
                                    <!-- inserir  class="drop-down" na <li> deixa o texto com a seta para baixo. -->
                                    <!-- inserir  class="drop-down active" na <li> deixa o drop down aberto -->
                                    <!-- inserir  class="active" na <li> da ul drop-down deixa ela marcada de preto. -->
                                    <div class="quem-somos-menu difusao-cientifica-menu">
                                            {% set items = simplify_menu('menu-lateral-difusao') %}
                                            {# Iterate menu tree #}
                                        <ul>

                                            {% for menu_item in items.menu_tree %}
                                                {% if menu_item.submenu %}
                                                    <li class="drop-down"><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                                {% else %}
                                                    <li><a href="{{ menu_item.url }}"><span>{{ menu_item.text }}</span></a>
                                                {% endif %}
                                                {% if menu_item.submenu %}
                                                    {% set subMenuAttribute = "drop-down" %}
                                                    <ul>
                                                        {% for itemSub in menu_item.submenu %}
                                                            <li><a href="{{ itemSub.url }}"><span>{{ itemSub.text }}</span></a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12 quem-somos-conteudo-col">
                                    {{  drupal_field('field_page_descricao','node') }}
                                </div>

                {% elseif hierarquia == 'Sistemas Interativos' %}
                {% endif %}

                </div>
            </div>
        </div>
    </section>
</main>