<main class="main">
    <!-- internas top header init -->
    <section class="internas-top-header">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="title-page">
                            {% trans %}
                                quem somos
                            {% endtrans %}
                            <span class="sub-title"><a href="/quem-somos/nossa-equipe">nossa equipe</a></span>
                            <span class="sub-title"><a href="/quem-somos/coordenadores-de-projetos">coordenadores de projetos</a></span>
                            <span class="sub-title"><a href="#">{{ label }}</a></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- internas top header end -->
    <!-- internas container init -->
    <section class="internas-container">
        <div class="inner wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- coordenador main content init -->
                    <div class="col-xs-12 coordenador-perfil-main-content">
                        <div class="internas-title-with-sub">
                            {% trans %}
                                <span class="pre">pesquisadores</span>
                            {% endtrans %}
                            {% trans %}
                                <h2>coordenadores de projetos</h2>
                            {% endtrans %}
                        </div>

                        <div class="row perfil-and-biografia">

                            <div class="col-md-3">
                                <div class="coordenador-box-perfil">
                                    <div class="image">
                                        <a href="#">{{ drupal_field('field_pessoas_foto','node') }}</a>
                                    </div>
                                    <div class="title">
                                        <a href="#">{{ label }}</a>
                                    </div>
                                    <div class="links">
                                        <a href="mailto:{# content.field_pessoa_email #}" class="email">{{ content.field_pessoa_email }}</a>
                                        <a href="www.arretche.usp.br" class="website">{{ content.field_site }}</a>
                                        <a href="www.arretche.usp.br" class="lattes">currículo lattes</a>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li class="icon-linkedin"><a href="{# content.field_linkedin #}"><span>linkedin</span></a></li>
                                            <li class="icon-facebook"><a href="{# content.field_facebook #}"><span>facebook</span></a></li>
                                            <li class="icon-twitter"><a href="{# content.field_twitter #}"><span>twitter</span></a></li>
                                            <li class="icon-instagram"><a href="{# content.field_instagram #}"><span>instagram</span></a></li>
                                            <li class="icon-email"><a href="{# content.field_pessoa_email  #}"><span>email</span></a></li>
                                            <li class="icon-site"><a href="{# content.field_site #}"><span>site</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- biografia init -->
                                <div class="coordenador-box-infos">
                                    <div class="title icon icon-biografia">
                                        {% trans %}
                                            <h3>Biografia</h3>
                                        {% endtrans %}
                                        {{  drupal_field('field_pessoa_biografia','node') }}
                                    </div>
                                </div>
                                <!-- gravacoes, palestras init -->
                                <div class="coordenador-box-infos">
                                    <div class="title icon icon-medias">
                                        {% trans %}
                                            <h3>Gravação de Seminários, palestras</h3>
                                        {% endtrans %}
                                    </div>
                                    {{  drupal_field('field_pessoa_gravacoes','node') }}
                                </div>
                                <!-- gravacoes, palestras end -->
                                <!-- books init -->
                                <div class="coordenador-box-infos">
                                    <div class="title icon icon-books">
                                        {% trans %}
                                            <h3>Produção mais recente (*)   -   Livros e Capítulos de livros</h3>
                                        {% endtrans %}
                                    </div>
                                    {{  drupal_field('field_pessoa_producoes','node') }}
                                </div>
                                <!-- books end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>